@import '../../../style/index.scss';
@import '../../../style/MixStyle.scss';

.repositories-container {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 16px;
    @media screen and (min-width: 1012px){
        padding-right: $--base-size-16 !important;
        padding-left: $--base-size-16 !important;
    }
    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: $--base-size-16;
        .search-input-wrap {
            margin-right: $--base-size-4;
            position: relative;
            flex: auto;
            .search-input {
                width: 100% !important;
            }
        }
        .selet-items-wrap {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .repo-list-wrap {
        background-color: $--color-canvas-default;
        border-color: $--color-border-default;
        border-radius: $--borderRadius-medium;
        border-style: solid;
        border-width: $--borderWidth-thin;
        .list-item {
            padding: $--base-size-16;
            border-top: $--borderWidth-thin solid $--color-border-muted;
            list-style-type: none;
            margin-top: calc($--borderWidth-thin*-1);
            height: auto;
        }
        .list-item:nth-of-type(1) {
            border-top-color: transparent;
        }
        .flex-dom {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .flex-auto {
                flex: auto;
                .nav-link-class {
                    color: $--color-accent-fg;
                }
                .nav-link-class:hover {
                    text-decoration: underline;
                }
                .wb-break-all {
                    text-align: left;
                    font-size: 20px;
                    font-weight: $--base-text-weight-semibold;
                    .label {
                        @include label-mix;
                    }
                    .Label--secondary {
                        @include Label--secondary-mix
                    }
                }
                .wb-break-word {
                    text-align: left;
                    word-break: break-word;
                    overflow-wrap: break-word;
                    margin-bottom: 0;
                    margin-top: 0px;
                    color: $--color-fg-muted;
                }
                .d-inline-flex {
                    display: flex;
                    flex-direction: row;
                    margin-top: $--base-size-4;
                    margin-bottom: $--base-size-4;
                    .topic-tag {
                        margin: 0 0.125em 0.333em 0;
                        margin-top: $--base-size-4;
                        margin-bottom: $--base-size-4;
                        
                        display: inline-block;
                        padding: 0 7px;
                        font-size: 12px;
                        font-weight: $--base-text-weight-medium;
                        line-height: 18px;
                        white-space: nowrap;
                        border: 1px solid transparent;
                        border-radius: 2em;
                        padding-right: 10px;
                        padding-left: 10px;
                        line-height: 22px;
                        color: $--color-accent-fg;
                        background-color: $--color-accent-subtle;
                        border: 1px solid $--color-topic-tag-border;
                    }
                    .topic-tag:hover {
                        color: $--color-fg-on-emphasis;
                        background-color: $--color-accent-emphasis;
                    }
                }
            }
        }
        .image-dom {
            margin-top: $--base-size-8;
            text-align: left;
            .dom {
                margin-right: $--base-size-16;
                font-size: 12px;
                color: $--color-fg-muted;
                .dom-label {
                    font-size: 16px;
                    margin-right: $--base-size-4;
                    display: inline-block;
                    overflow: visible !important;
                    vertical-align: text-bottom;
                    fill: currentColor;
                    line-height: 16px;
                }
                .domt-text{
                    display: inline-block;
                    height: 16px;
                    line-height: 16px;
                    vertical-align: middle;
                }
            }
        }
    }
    .paginate-container {
        margin-top: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        .ant-pagination-next {
            color: $--color-accent-fg;

        }
        .ant-pagination-item {
            min-width: 32px;
            padding: 5px 10px;
            margin-right: 4px;
            font-style: normal;
            line-height: 20px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            border-radius: 6px;
            transition: border-color .2s cubic-bezier(0.3, 0, 0.5, 1);
            a {
                padding: 0px;
                color: $--color-fg-default;
            }
        }
        .ant-pagination-item-active {
            background-color: $--color-accent-emphasis;
            border-color: transparent;
            a {
                color: $--color-fg-on-emphasis;
            }
        }
        .ant-pagination-next, .ant-pagination-prev {
            margin-inline-end: 4px;
            min-width: 32px;
            height: 31px;
            padding: 5px 10px;
            font-style: normal;
            line-height: 20px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            border-radius: 6px;
            transition: border-color .2s cubic-bezier(0.3, 0, 0.5, 1);
            a {
                font-weight: 400;
                font-size: 14px;
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $--color-accent-fg;
                .anticon-right {
                    display: inline-block;
                    font-size: 12px;
                    height: 12px;
                    margin-left: 8px;
                }
                .anticon-left {
                    display: inline-block;
                    font-size: 12px;
                    height: 12px;
                    margin-right: 8px;
                }
            }
        }
        .ant-pagination-item:hover, .ant-pagination-next:hover, 
        .ant-pagination-next:hover, .ant-pagination-prev:hover {
            text-decoration: none;
            border-color: $--color-border-default;
            transition-duration: .1s;
            background-color: transparent;
        }
        .ant-pagination-disabled:hover {
            border-color: transparent;
        }
        .ant-pagination-disabled {
            a {
                color: $--color-primer-fg-disabled;
            }
        }
    }
}
