@mixin label-mix {
    margin-left: $--base-size-4;
    margin-bottom: $--base-size-4;
    vertical-align: middle;
    border: $--borderWidth-thin solid $--color-border-default;
    border-radius: 2em;
    display: inline-block;
    font-size:$--text-body-size-small;
    font-weight: $--base-text-weight-medium;
    line-height: 18px;
    padding: 0 7px;
    white-space: nowrap;
}
@mixin Label--secondary-mix {
    border-color: $--color-border-default;
    color: $--color-fg-muted;
}

@mixin topic-tag-mix {
    margin: 0 0.125em 0.333em 0;
    margin-top: $--base-size-4;
    margin-bottom: $--base-size-4;
    
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: $--base-text-weight-medium;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 2em;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 22px;
    color: $--color-accent-fg;
    background-color: $--color-accent-subtle;
    border: 1px solid $--color-topic-tag-border;
    
}
@mixin topic-tag-hover-mix {
    .topic-tag:hover {
        color: $--color-fg-on-emphasis;
        background-color: $--color-accent-emphasis;
    }
}