@import '../../../style/index.scss';
@import '../../../style/PageHeaderMix.scss';
@import '../../../style/MixStyle.scss';
.page-head-class {
    @include page-head-mix;
    height: 102px !important;
    .content-container:nth-of-type(1) {
        padding-top: $--base-size-16;
    }
    .content-container {
        @media screen and (min-width: 1012px){
            padding-right: $--base-size-32 !important;
            padding-left: $--base-size-32 !important;
            margin-left: 0px;
            margin-right: 0px;
        }
       .title-container {
            margin-bottom: $--base-size-16;
            height: 30px;
            .title-items {
                font-weight: $--base-text-weight-normal;
                align-items: center;
                height: 30px;
                .flex-self-stretch {
                    align-self: stretch;
                    font-size: 20px;
                    text-align: center;
                    vertical-align: middle;
                    a {
                        color: $--color-accent-fg;
                        text-decoration: none;
                    }
                }
                .mx {
                    margin-right: $--base-size-4;
                    margin-left: $--base-size-4;
                }
                .name {
                    margin-right: $--base-size-8;
                    font-weight: $--base-text-weight-semibold;
                }
                .auther {
                    margin-left: $--base-size-8;
                }
                
            }
            .repository-details-container {
                .pagehead-actions {
                    .page-head-button {
                        font-weight: 500;
                        height: auto;
                        padding: 3px 12px;
                        font-size: 12px;
                        line-height: 20px;
                        color: $--color-btn-text;
                        background-color: $--color-btn-bg;
                        border-color: $--color-btn-border;
                        box-shadow: $--color-btn-shadow,$--color-btn-inset-shadow;
                        transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
                        transition-property: color,background-color,box-shadow,border-color;
                        .anticon  {
                            color: $--color-fg-muted;
                        }
                        .repo-network-counter {
                            margin-left: $--base-size-8;
                            color: inherit;
                            text-shadow: none;
                            vertical-align: top;
                            background-color: $--color-btn-counter-bg;
                            border: $--borderWidth-thin solid $--color-counter-border;
                            border-radius: 2em;
                            display: inline-block;
                            font-size: $--text-body-size-small;
                            font-weight: $--base-text-weight-medium;
                            line-height: calc($--base-size-20 - $--borderWidth-thin*2);
                            min-width: $--base-size-20;
                            padding: 0 6px;
                            text-align: center;
                        }
                    }
                    .page-head-button:hover {
                        background-color: $--color-btn-hover-bg;
                        border-color: $--color-btn-hover-border;
                        transition-duration: .1s;
                    }
                }
            }
       } 
    }
}
.d-flex {
    display: flex;
    .flex-auto {
        margin-right: $--base-size-16;
        flex: auto;
    }
}
.d-md-inline {
    display: inline;
}
.pagehead-actions>li {
    float: left;
    margin: 0 8px 0 0;
    font-size: 12px;
    color: $--color-fg-default;
    list-style-type: none;
}
.label {
    @include label-mix;
    
}
.Label--secondary {
    @include Label--secondary-mix;
}
.content-label {
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    height: 19px
}
